.radius {
    border-radius: 160px;
    border: 2px rgb(0, 0, 0) solid;
    margin: 40px;      
}

.img-cod {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 15px;
    box-shadow: 0px 0px 2px 1px rgb(94, 92, 92);
    margin-bottom: 10px;
}

.hodor { 
    text-align: center;
    margin-left: 320px;
    width: 860px;
}

.hodorText {
    display:inline-block; 
    vertical-align:top;
    margin-top: 40px;
}

.contact {
    border: solid;
    border-width: 3px 0px 0px 0px;
    border-color: rgb(150, 14, 66); 
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    flex-basis: 240px;
}

.basic {
    border: solid;
    border-width: 3px 0px 3px 0px;
    border-color: rgb(150, 14, 66); 
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    flex-basis: 860px;
}

.navigat {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

h1 {color: rgb(99, 13, 35);}
h4 {
    color: rgb(150, 14, 66);
    margin-bottom: 5px;
}
h5 {margin: 0;}

p  {
    font-size: 14px;
    margin-bottom: 5px;
}

ul {
    margin-top: 5px;
    list-style: none;
    padding: 5px 10px 5px 25px;
    margin-top: 3px;
    }

li {
    font-size: 13px;
    color: rgb(150, 14, 66);
    font-weight: bold;
}

.frame{
    border: solid;
    padding-bottom: 30px;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(150, 14, 66);
}

h3.cl{
    text-align: center;
    margin-bottom: 0;
   }

h4.cl{
    text-align: center;
    margin-top: 5px;
}

p.cl{
    text-align: center;
    margin: 5px;
}